<!--routerLink-->
<!--ionic cordova build android --release --prod-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>القران الكريم</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item button (click)="onclic(b)" *ngFor="let b of quranList">{{b.name}}</ion-item>
  </ion-list>
</ion-content>
