<ion-header *ngIf="this.menuShow">
  <ion-toolbar color="dark">

    <ion-title>القران الكريم</ion-title>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="done-all"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides (click)="this.menuShow=!this.menuShow">
    <ion-slide>
      <img src="assets/img/Quran/0001.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0002.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0003.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0004.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0005.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0006.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0007.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0008.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0009.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0010.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0011.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0012.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0013.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0014.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0015.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0016.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0017.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0018.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0019.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0020.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0021.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0022.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0023.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0024.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0025.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0026.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0027.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0028.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0029.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0030.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/Quran/0031.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0032.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0033.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0034.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0035.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0036.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0037.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0038.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0039.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0040.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0041.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0042.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0043.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0044.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0045.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0046.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0047.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0048.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0049.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0050.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0051.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0052.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0053.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0054.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0055.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0056.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0057.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0058.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0059.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0060.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/Quran/0061.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0062.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0063.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0064.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0065.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0066.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0067.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0068.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0069.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0070.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0071.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0072.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0073.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0074.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0075.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0076.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0077.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0078.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0079.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0080.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0081.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0082.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0083.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0084.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0085.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0086.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0087.jpg" />
    </ion-slide>
    <ion-slide id="22">
      <img src="assets/img/Quran/0088.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0089.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0090.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/Quran/0091.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0092.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0093.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0094.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0095.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0096.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0097.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0098.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0099.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0100.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0101.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0102.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0103.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0104.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0105.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0106.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0107.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0108.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0109.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0110.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0111.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0112.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0113.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/Quran/0114.jpg" />
    </ion-slide>
  </ion-slides>
</ion-content>